---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCE = [
  {
    date: "2022 - Presente",
    title: "Desarrollador Frontend",
    company: "PRESIK.COM",
    description:
      "Encargado del desarrollo de funcionalidades y aspectos visuales de la aplicación. Construcción de componentes, optimización de vistas y mejora de la experiencia de usuario.",
  },
  {
    date: "Marzo 2021 - Actualidad",
    title: "Desarrollador FrontEnd WORDPRESS / REACT",
    company: "Graphitech",
    description:
      "Desarrollo de interfaces web basadas en WordPress y React, optimizando rendimiento y experiencia de usuario.",
  },
  {
    date: "Enero 2019 - Actualidad",
    title: "Web Master",
    company: "JLV ENTERPRISES",
    description:
      "Desarrollo de infraestructura web, creación de aplicaciones, soporte técnico y realización de auditorías SEO.",
  },
  {
    date: "Marzo 2017 - Actualidad",
    title: "Desarrollador de software",
    company: "FET",
    description:
      "Desarrollo de software empresarial orientado a la gestión y operación de negocios.",
  },
  {
    date: "Febrero 2016 - Diciembre 2016",
    title: "Responsable SEO - Programador - Soporte",
    company: "Nubetecnologica",
    description:
      "Posicionamiento orgánico de sitios web en Google. Desarrollo, modificación y soporte de plataformas como WordPress, PrestaShop y Joomla.",
  },
];

---

<div class="relative max-md:mt-0 mt-8" aria-label="Professional experience">
  <ol class="relative mt-10">
    {
      EXPERIENCE.map((experience, index) => (
        <li class="">
          <article role="article" aria-labelledby={`experience-title-${index}`}>
            <div
              class="flex flex-col gap-2  text-zinc-00 dark:text-zinc-300 md:col-span-3"
              aria-describedby={`experience-title-${index}`}
            >
              <ExperienceItem {...experience} />
            </div>
          </article>
        </li>
      ))
    }
  </ol>
</div>
