---
import Navigation from "./Navigation.astro";
import ThemeIcon from "../ui/ThemeIcon.astro";
import Social from "../ui/Social.astro";
import { Icon } from "astro-icon/components";

const currentPath = Astro.url.pathname;
const routes = ["/", "/portfolio", "/about-me", ]; 

const github = "https://github.com/EFEELE";
const linkedin = "https://www.linkedin.com/in/efeele/";

// Check if the current route is in the list of routes
const isActiveRoute = routes.includes(currentPath);

const navItems = isActiveRoute 
  ? ["home", "experience", "projects", "about", "blog",]
  : ["home", "blog", "about"]; // Change the items
---

<header
  role="banner"
  aria-label="Main navigation"
  class="sticky top-0 z-50 w-full p-4 font-medium text-blacktext dark:text-zinc-300 dark:bg-[#0E0E11]/80 dark:border-b-1 dark:border-zinc-800 bg-white/90 backdrop-blur-xs dark:backdrop-blur-xs max-md:z-50 max-md:px-0 transition-all"
>
  <div
    class="relative mx-auto flex max-w-7xl flex-row items-center justify-between max-xl:px-6"
  >
    <a href="/" aria-label="Go to home">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 850 100">
        <defs>
          <linearGradient id="textGradient" x1="0" y1="0" x2="1" y2="0">
            <stop offset="0%" stop-color="#a4f4cf"/>
            <stop offset="100%" stop-color="#d0fbe5"/>
          </linearGradient>
        </defs>
        <text x="0" y="70" font-family="'Fira Code', 'Courier New', monospace"
              font-size="64" font-weight="700" fill="url(#textGradient)">
          &lt;VICTOR RUIZ /&gt;
        </text>
      </svg>
      
    </a>

    <Navigation items={navItems} />

    <div class="flex items-center justify-between gap-5 text-xl">
      <div class="max-md:hidden flex items-center justify-center gap-5" role="list">
        <Social link={github} iconName="github" />
        <Social
          link={linkedin}
          iconName="linkedin"
        />
      </div>
    </div>
    <div class="flex items-center gap-5 text-xl md:pl-5">
      <ThemeIcon />
      <button 
        class="hamburger"
        aria-label="Open menu"
        aria-expanded="false"
        aria-controls="mobile-menu"
      >
        <Icon name="bars" class="hamburger-icon bars-icon" aria-hidden="true" />
        <Icon name="xmark" class="hamburger-icon xmark-icon" aria-hidden="true" />
      </button>
    </div>
  </div>
</header>
